
{% extends "layout.html" %}
{% block body %}

  <div class="container-fluid">
    <nav aria-label="breadcrumb mt-3">
      <ol class="breadcrumb {% if stats.db_name and stats.n_datasets > 0 %} alert-success {% else %} alert-warning {% endif %}" ">
        <li class="breadcrumb-item"><i class="fas fa-database mr-1"></i>database:{{stats.db_name}}</li>
        <li class="breadcrumb-item"><i class="fas fa-archive mr-1"></i>n. datasets:<a href="#" data-toggle="modal" data-target="#dsDetails">{{stats.n_datasets}}</a></li>
        <li class="breadcrumb-item"><i class="fas fa-dna mr-1"></i>n. distinct variants:{{stats.variant_count}}</li>
      </ol>
    </nav>

    <!-- Modal window that shows available datasets info -->
    <div class="modal fade" id="dsDetails" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
        {% if dsets %}
          <ul class="list-group list-group-flush">
          {% for dset in dsets %}
             <li class="list-group-item">
               <div class="row">
                 <div class="col-8">
                   <b>{{dset.name}} ({{dset._id}})</b>
                   {% if dset.authlevel == "controlled" %}
                    <span class="badge badge-danger">controlled</span>
                   {% elif dset.authlevel == "registered" %}
                    <span class="badge badge-warning">registered</span>
                   {% else %}
                    <span class="badge badge-success">public</span>
                   {% endif %}
                   <span class="badge badge-primary">{{dset.assembly_id}}</span>
                   <span class="badge badge-secondary">v{{dset.version}}</span>
                   <br>
                   <span class="badge badge-pill badge-light">variant count:{{dset.variant_count or 0}}</span>
                   <span class="badge badge-pill badge-light">allele count:{{dset.allele_count or 0}}</span>
                 </div>
                 <div class="col-4">
                   <small>Created:{% if dset.created %} {{dset.created.strftime('%Y-%m-%d')}} {% else %} n.a. {% endif %} / Last modified:{% if dset.updated %} {{dset.updated.strftime('%Y-%m-%d')}} {% else %} n.a. {% endif %}</small>
                </div>
              </div>
              <div class="row">
                <div class="col-12">{{dset.description}}</div>
              </div>
             </li>
          {% endfor %}
          </ul>
        {% else %}
          No datasets available for this beacon
        {% endif %}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div> <!-- end of modal content -->
      </div> <!-- end of modal dialog -->
    </div>
    <!-- End of datasets info modal -->

    <div class="mt-3">
      <form action="{{url_for('api_v1.query_form')}}" method="post">
        <div class="row">
          <div class="col-md-12">
            <p class="text-right d-flex align-items-center"><h4 style="color: #ef7c00;">Variant search</h4></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label for="assemblyId">Genome build<span style="color: #ef7c00;" data-toggle="tooltip" data-placement="top" title="required field">*</span></label>
            <select class="form-control" name="assemblyId" required>
              <option>GRCh37</option>
              <option {% if form.assemblyId == "GRCh38" %} selected="selected" {% endif %}>GRCh38</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="referenceName">Chromosome<span style="color: #ef7c00;" data-toggle="tooltip" data-placement="top" title="required field">*</span></label>
            <select class="form-control" name="referenceName" required>
              {% for chrom in chromosomes %}
                <option {% if chrom == form.referenceName %} selected="selected" {% endif %} >{{chrom}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-2">
            <label for="referenceBases">Reference bases<span style="color: #ef7c00;" data-toggle="tooltip" data-placement="top" title="required field">*</span></label>
            <input type="text" class="form-control" id="referenceBases" name="referenceBases" placeholder="ex: T" value="{{form.referenceBases}}" required>
          </div>
          <div class="col-md-3">
            <label for="datasetIds">Dataset</label>
                <select multiple class="selectpicker" name="datasetIds">
                  {%for dset in dsets %}
                    <option value="{{dset['_id']}}">{{ dset['_id'] }}</option>
                  {%endfor %}
                </select>
          </div>
          <div class="form-check col-md-3">
            <!-- DatasetAlleleResponse=NONE-->
            <input class="form-check-input" type="radio" name="includeDatasetResponses" id="includeDatasetResponses" value="NONE" {% if not allelRequest or allelRequest and allelRequest.includeDatasetResponses == "NONE"%} checked {% endif%}>
            <label class="form-check-label" for="includeDatasetResponses">
              Check only if allele is present in any dataset
            </label><br>
            <!-- DatasetAlleleResponse=ALL-->
            <input class="form-check-input" type="radio" name="includeDatasetResponses" id="includeDatasetResponses" value="ALL">
            <label class="form-check-label" for="includeDatasetResponses">
              Dataset-specific info (all datasets)
            </label><br>
            <!-- DatasetAlleleResponse=HIT-->
            <input class="form-check-input" type="radio" name="includeDatasetResponses" id="includeDatasetResponses" value="HIT">
            <label class="form-check-label" for="includeDatasetResponses">
              Dataset-specific info (all datasets with hits)
            </label><br>
            <!-- DatasetAlleleResponse=MISS-->
            <input class="form-check-input" type="radio" name="includeDatasetResponses" id="includeDatasetResponses" value="MISS">
            <label class="form-check-label" for="includeDatasetResponses">
              Dataset-specific info (all datasets with NO hits)
            </label>
          </div>
        </div> <!--end of first row-->
        <div class="row">
          <div class="form-check col-md-2 mt-3">
            <input type="checkbox" id="type" {% if form == {} or form.variantType == "" %} checked {%endif%} data-toggle="toggle" data-on="Single nucleotides" data-off="Structural variants" data-onstyle="primary" data-offstyle="success">
          </div>
          <div id="snvsDiv" class="col-md-3" {% if form != {} and form.variantType != "" %} style="display:none;" {%endif%}>
            <label for="alternateBases">Alternate bases</label>
            <input type="text" class="form-control" id="alternateBases" name="alternateBases" placeholder="ex: C" value="{{form.alternateBases}}">
          </div>
          <div id="svsDiv" class="col-md-3" {% if form == {} or form.variantType == "" %} style="display:none" {%endif%}>
            <label for="variantType">Variant type</label>
            <select class="form-control" name="variantType">
              {% for sv in ["", "INS", "DEL", "DUP", "INV", "BND"] %}
                <option>{{sv}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-2">
            <label for="start">Start position<span style="color: #ef7c00;" data-toggle="tooltip" data-placement="top" title="0-based coordinate">**</span></label>
            <input type="number" class="form-control" id="start" name="start" value={{form.start}}>
          </div>
          <div class="col-md-2">
            <label for="end">End position<span style="color: #ef7c00;" data-toggle="tooltip" data-placement="top" title="0-based coordinate">**</span></label>
            <input type="number" class="form-control" id="end" name="end" value={{form.end}}>
          </div>
        </div>
        <!--Range coordinates-->
        <div class="row mt-3" id="rangeCoords">
          <div class="form-check col-md-2 mt-3">
            <input type="checkbox" id="range" data-toggle="toggle" data-on="Exact positions" data-off="Range query"
              data-onstyle="dark" data-offstyle="secondary" {% if form == {} or form.startMin == "" %} checked {%endif%}>
          </div>
          <div id="rangeDiv" class="row" {% if form == {} or form.startMin == "" %} style="display:none" {%endif%}>
            <div class="col-sm-3">
              <label for="startMin">Min start<span style="color: #ef7c00;" data-toggle="tooltip" data-placement="top" title="0-based coordinate">**</span></label>
              <input type="number" class="form-control" id="startMin" name="startMin" value={{form.startMin}}>
            </div>
            <div class="col-sm-3">
              <label for="startMax">Max start<span style="color: #ef7c00;" data-toggle="tooltip" data-placement="top" title="0-based coordinate">**</span></label>
              <input type="number" class="form-control" id="startMax" name="startMax" value={{form.startMax}}>
            </div>
            <div class="col-sm-3">
              <label for="endMin">Min end<span style="color: #ef7c00;" data-toggle="tooltip" data-placement="top" title="0-based coordinate">**</span></label>
              <input type="number" class="form-control" id="endMin" name="endMin" value={{form.endMin}}>
            </div>
            <div class="col-sm-3">
              <label for="endMax">Max end<span style="color: #ef7c00;" data-toggle="tooltip" data-placement="top" title="0-based coordinate">**</span></label>
              <input type="number" class="form-control" id="endMax" name="endMax" value={{form.endMax}}>
            </div>
          </div>
        </div>
         <br>
        <div class="row">
          <div class="col-md-5"></div>
            <div class="col-md-3">
              <button type="submit" name="query" value="submit" class="btn btn-warning">Search SciLifeLab Beacon</button>
            </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
  $('select[multiple]').selectpicker({
        width: '100%'
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  $(function() {
    $('#type').change(function() {
      if($(this).prop("checked")){
        $('#snvsDiv').show();
        $("#alternateBases").prop('required',true);
        $('#svsDiv').hide();
        $.each($(".variantType option:selected"), function () {
          $(this).prop('selected', false); // <-- HERE
        });
      }
      else{
        $('#svsDiv').show();
        $('#snvsDiv').hide();
        $("#alternateBases").prop('required',false);
        $('#alternateBases').val("");
      }
    });

    $('#range').change(function() {
      if($(this).prop("checked")){
        $('#rangeDiv').hide();
        $('#start').prop('disabled',false);
        $('#end').prop('disabled',false);
        $('#startMin').val("");
        $('#startMax').val("");
        $('#endMin').val("");
        $('#endMax').val("");
      }
      else{
        $('#rangeDiv').show();
        $('#start').prop('disabled',true);
        $('#start').val("");
        $('#end').prop('disabled',true);
        $('#end').val("");
      }
    })
  });
  </script>

{% endblock%}
